[submodule "wpi/ntcore"]
	path = wpi/ntcore
	url = https://github.com/wpilibsuite/ntcore.git
[submodule "wpi/allwpilib"]
	path = wpi/allwpilib
	url = https://github.com/wpilibsuite/allwpilib.git
[submodule "Toast-Core/interchange/ToastFWI"]
	path = Toast-Core/interchange/ToastFWI
	url = https://github.com/Open-RIO/ToastFWI.git
