<script type="text/javascript" src="/res/toast_core/js/readout/power.js"> </script>

<div style="width: 100%">
    <h5> Power Readout </h5>
    <div class="row">
        <div class="column center readout-big" id="pwr_pdp_volts"> --- </div>
        <div class="column center readout-big" id="pwr_pdp_temp"> --- </div>
    </div>
    <div class="row">
        <div class="column center readout-med" id="pwr_total_pwr"> --- </div>
        <div class="column center readout-med" id="pwr_total_nrg"> --- </div>
        <div class="column center readout-med" id="pwr_total_cur"> --- </div>
    </div>
    <div class="row">
        <div class="column center readout-sml" id="pwr_3v3"> --- </div>
        <div class="column center readout-sml" id="pwr_5v" > --- </div>
        <div class="column center readout-sml" id="pwr_6v" > --- </div>
    </div>
    <br />
    <table>
        <thead>
            <tr>
                <th> # </th>
                <th> Current </th>
                <th> # </th>
                <th> Current </th>
            </tr>
        </thead>
        <tbody id="pwr_cur_table">
        </tbody>
    </table>
</div>